<div class="container-fluid">
    <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <app-header></app-header>
        <div class="panel panel-default">
            <div class="panel-heading">Edit Product</div>
            <product-form [product]="product"></product-form>
        </div>
  </div>
</div>