:host {
  display: flex;
  justify-content: center;
  align-items: center;
  background: forestgreen;
  height: 56px;
  min-height: 56px;
  padding: 0;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.24);
  color: white;
}

:host img {
  width: 50px;
}