<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <div class="btn-group pull-right">
      <button (click)="addProduct()">New Product</button>
    </div>
  </div>
  <table *ngIf="data.length" class="table table-hover table-responsive table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage">
    <thead>
      <tr>
        <th style="width: 30%">
            <mfDefaultSorter by="name">Name</mfDefaultSorter>
        </th>
        <th style="width: 30%">
          <mfDefaultSorter by="price">Price</mfDefaultSorter>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of mf.data; let i = index">
        <td>{{ item.name }}</td>
        <td>{{ item.price }}</td>
        <td>
          <a [routerLink]="['/view', item.id]">
            <span class="glyphicon glyphicon-eye-open"></span>
          </a>
          <a [routerLink]="['/edit', item.id]">
            <span class="glyphicon glyphicon-pencil"></span>
          </a>
          <a href="#" (click)="removeProduct(i)">
            <span class="glyphicon glyphicon-trash"></span>
          </a>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="2">
          <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
        </td>
      </tr>
    </tfoot>
    </table>
</div>