<form (submit)="save()">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" type="text" placeholder="Please specify name" id="name" name="name" [(ngModel)]="model.name" required>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" placeholder="Please specify description" id="description" name="description" [(ngModel)]="model.description" required></textarea>
    </div>
    <div class="form-group">
        <label for="price">Price</label>
        <input type="text" class="form-control" placeholder="Please specify price" id="price" name="price" [(ngModel)]="model.price" required>
    </div>
    <div class="form-group">
        <button class="btn btn-success" type="submit">Save</button>
    </div>
</form>